<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">Let's Infer watchdog on %h</name>
  <service>
    <type>_watchdog._tcp</type>
    <port>9768</port>
    <txt-record>protocol=1</txt-record>
    <txt-record>tls=mtls</txt-record>
  </service>
</service-group>
